<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Webpage Classification</title>
</head>
<body>
<header class="text-orange-600 body-font">
  <a name="top"></a>
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-orange-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Artificial Intelligence and Machine Learning</span>
    </a>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
      <a href={{url_for('Home')}} class="mr-5 hover:text-grey-900">Home</a>
      <a href={{url_for('Home')}}#section1 class="mr-5 hover:text-gray-900">Information</a>
      <a href={{url_for('about')}} class="mr-5 hover:text-gray-900">About</a>
      <a href={{url_for('contact')}} class="hover:text-gray-900">Contact Us</a>
    </nav>
  </div>
</header>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-5 mx-auto text-center">
    <h2 class="text-xs text-orange-500 tracking-widest font-medium title-font mb-1">AI and ML</h2>
    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Select a Machine Learning Model</h1>
  </div>

  <div class="container px-5 py-5 mx-auto">
    <div class="flex flex-wrap">
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Multinomial Naive Bayes</h2>
        <p class="leading-relaxed text-base mb-4">The multinomial Naive Bayes classifier is suitable for classification with discrete features (e.g., word counts for
            text classification). The multinomial distribution normally requires integer feature counts.
          </p>
        <a href={{url_for('classify')}} class="mr-5 hover:text-gray-900">
        <button class="flex mx-auto mt-6 text-white bg-orange-500 border-0 py-2 px-8 focus:outline-none hover:bg-gray-600 rounded">SELECT</button>
        </a>
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Logistic Regression</h2>
        <p class="leading-relaxed text-base mb-4">Logistic regression is a statistical model that uses a logistic function to model a binary dependent variable. In
            regression analysis, logistic (logit) regression is estimating the parameters of a of binary regression.
          </p>
        <a href={{url_for('classify')}} class="mr-5 hover:text-gray-900">
        <button class="flex mx-auto mt-6 text-white bg-orange-500 border-0 py-2 px-8 focus:outline-none hover:bg-gray-600 rounded">SELECT</button>
        </a>
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Random Forest Classifier</h2>
        <p class="leading-relaxed text-base mb-4">Random forests or random decision forests are an ensemble learning method for classification, regression and other tasks
            that operates by constructing a multitude of decision trees at training time.
          </p>
        <a href={{url_for('classify')}} class="mr-5 hover:text-gray-900">
        <button class="flex mx-auto mt-6 text-white bg-orange-500 border-0 py-2 px-8 focus:outline-none hover:bg-gray-600 rounded">SELECT</button>
        </a>
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Support Vector Machine </h2>
        <p class="leading-relaxed text-base mb-4">The objective of the support vector machine algorithm is to find a hyperplane (Support Vectors) in an N-dimensional space
            (N - number of features) that distinctly classifies the data points.
          </p>
        <a href={{url_for('classify')}} class="mr-5 hover:text-gray-900">
        <button class="flex mx-auto mt-6 text-white bg-orange-500 border-0 py-2 px-8 focus:outline-none hover:bg-gray-600 rounded">SELECT</button>
        </a>
      </div>
    </div>
  </div>
</section>

</body>
</html>
