<!DOCTYPE html>
<html>
<head>
	<title>Table</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

	<center>
		<form action="{{ url_for('predict')}}" method="post">

              <div >
                        <span class="lg:w-2/3 mx-auto leading-relaxed text-lg">Select a Vectorizer for Word2Vec conversion</span>
                          <div class="mt-2">
                            <div>
                                <label class="inline-flex items-center">
                                    <input type="radio" class="form-radio" name="vec" value="1" checked>
                                    <span class="ml-2">Count Vectorizer</span>
                                </label>
                            </div>
                            <div>
                                <label class="inline-flex items-center">
                                    <input type="radio" class="form-radio" name="vec" value="2">
                                    <span class="ml-2">TFIDF Vectorizer</span>
                                </label>
                            </div>
                          </div>
                    </div>
                <br>
                    <div >
                        <span class="lg:w-2/3 mx-auto leading-relaxed text-lg">Select a Machine Learning Model to classify</span>
                          <div class="mt-4">
                            <div>
                                <label class="inline-flex items-center">
                                    <input type="radio" class="form-radio" name="ml" value="1" checked>
                                    <span class="ml-4">Logistic Regresion model</span>
                                </label>
                            </div>
                            <div>
                                <label class="inline-flex items-center">
                                    <input type="radio" class="form-radio" name="ml" value="2">
                                    <span class="ml-4">Multinomial Naive Bayes</span>
                                </label>
                            </div>
                            <div>
                                <label class="inline-flex items-center">
                                    <input type="radio" class="form-radio" name="ml" value="3">
                                    <span class="ml-4">Random Forest Classifier</span>
                                </label>
                            </div>
                            <div>
                                <label class="inline-flex items-center">
                                    <input type="radio" class="form-radio" name="ml" value="4">
                                    <span class="ml-4">Support Vector Machine</span>
                                </label>
                            </div>
                          </div>
                    </div>
              <br>
                <label for="url" class="leading-7 text-sm text-gray-600">Unified Resource Locator (URL)</label>
                <input type="text" id="URL" name="URL" placeholder="URL" required="required" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-yellow-500 focus:bg-transparent focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"/>
                <br>
                <br>
                <button type="submit" name="btn" class="text-white bg-orange-500 border-0 py-2 px-8 focus:outline-none hover:bg-gray-600 rounded text-lg" value="Add" onclick="AddRow()">PREDICT</button>
            </form>

         <p class="text-lg">{{ prediction_text }}</p>
		<table border="4" id="show">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Age</th>
				</tr>
			</thead>
		</table>
	</center>

	<script>

		var list1 = [];
		var list2 = [];
		var list3 = [];

		var n = 1;
		var x = 0;

		function AddRow(){

			var AddRown = document.getElementById('show');
			var NewRow = AddRown.insertRow(n);

			list1[x] = document.getElementById("vec").value;
			list2[x] = document.getElementById("ml").value;
			list3[x] = document.getElementById("URL").value;

			var cel1 = NewRow.insertCell(0);
			var cel2 = NewRow.insertCell(1);
			var cel3 = NewRow.insertCell(2);

			cel1.innerHTML = list1[x];
			cel2.innerHTML = list2[x];
			cel3.innerHTML = list3[x];

			n++;
			x++;
		}

	</script>
</body>
</html>

                <button type="submit" class="text-white bg-orange-500 border-0 py-2 px-8 focus:outline-none hover:bg-gray-600 rounded text-lg">PREDICT</button>